<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Weeb Price Scraper</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>

  <section class="large-stats-wrapper">
    <h1>Weeb Price Scraper</h1>
    <div class="large-stats">
      
      <form action = "/add" method="post">  
            Add new link <input type="text" name="link"> 
            <input type="submit" id="add" value="Submit">         
        </form>
      <form action="/delete" method="post">  
          Remove link <input type="text" name="link">  
      <input type="submit" id="delete" value="Submit">
    </form>    
    </div>
  </section>
  <h1>Hello, {{username}}</h1>
  <section class="records">
    <div class="table-wrapper">
      <div class="table">
        <div class="table__row">
          <div class="table__cell">Name</div>
          <div class="table__cell">Price</div>
          <div class="table__cell">Date</div>
        </div>
        {% for entry in records %}
        <div class="table__row">
          <div class="table__cell"><a href={{entry [0]}}>{{entry [1]}}</a></div>
          <div class="table__cell">{{entry [2]}}</div>
          <div class="table__cell">{{entry [3]}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <div class="card-wrapper">
    <div class="card">
        <form name="Main_form">

            <div class = "center">
                <a href="/user/signup" class="btn btn--secondary">Sign Up</a>        
            </div>

            <div class = "center">
                <a href="/user/login" class="btn btn--secondary">Login</a>        
            </div>

            <div class = "center">
              <a href="/user/signout" class="btn btn--secondary">Sign Out</a>        
            </div>
            
        </form>
    </div>
</div>
</body>
</html>