<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
    </head>
<body>

    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Sign Up</h1>
            <form name="signup_form">
    
                <label for="email">Email</label>
                <input type="text" name="email" class="field" required>
    
                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>
    
                <label for="Password">Password</label>
                <input type="Password" name="password" class="field" required>
    
                <p class="error error --hidden"></p>
    
                <input type="submit" value="Sign Up" class="btn">
                
            </form>
        </div>
    </div>

</body>
</html> 